/* 参考：https://rico-notes.com/programming/html/header-design/ */

/* りせっとCSS */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}

/* メモ：メディアクエリのブレイクポイント 
    480, 640, 960あたり？ */


/* ヘッダー */
header {
    width: 100%;
    height: 100px;
    padding: 20px 4% 15px;
    /* 高さ100px */
    background-color: #fff;
    /* 位置指定 */
    position: fixed;
    top: 0;
    z-index: 99999;
    /* flexbox */
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

header ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

.sp-nav {
    display: none;
}


/* ハンバーガーメニュー */

#nav-drawer {
    position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display: none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    /*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.ham-nav-list {
    padding: 10px 0.5em;
    position: relative;
    display: block;
}

.ham-nav-list li {
    line-height: 2;
    padding: 0.5em 1.4em;
    margin: 0;
    border-bottom: dashed 1px silver;
    list-style-type: none !important;
}

/*チェックがついたら表示させる*/
#nav-input:checked~#nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked~#nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}

.ham-menu {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

/* 画面サイズによりメニュー表示切り替え */
@media screen and (min-width:460px) {
    #nav-drawer {
        display: none;
    }
}

@media screen and (max-width:461px) {
    .pc-nav {
        display: none;
    }
}

/*ページ内リンクでスクロールしたときの位置調整*/
a.anchor {
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}




/* body */
.body {
    padding: 0 5% 0 5%;
}

/* アイキャッチ */
.main-visual {
    /* 確認用 */
    background-color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 100px;
}

.main-visual img {
    width: 33%;

}

h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #4f4f4f;
}

/* About */
.about {
    background-color: #fff;
    text-align: center;
    position: relative;
    top: 100px;

    padding: 2% 6%;
}

/* service */
.service {
    background-color: #fff;
    text-align: center;
    position: relative;
    top: 100px;

    padding: 2% 6%;
}

/* 
.contents {
    display: flex;
    justify-content: center;
}
.contents h3 {
    width: 50%;
} */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

/* スマホ */
@media screen and (max-width: 641px) {
    .item {
        box-sizing: border-box;
        border: 1px solid #cccccc;
        margin: 8px 0;
        padding: 0;
        width: calc(90% - 8px);
        width: calc(90% - 16px);
        align-self: stretch;
    }

    .item:nth-child(1n) {
        margin-right: 0;
    }
}

/* タブレット、PC */
@media screen and (min-width: 640px) {
    .item {
        box-sizing: border-box;
        border: 1px solid #cccccc;
        margin: 20px 0;
        padding: 0;
        width: calc(33% - 20px);
        width: calc(33% - 40px / 3);
        align-self: stretch;
    }

    .item:nth-child(3n) {
        margin-right: 0;
    }

}


.item img {
    width: 100%;
    height: 200px;

    /* このCSS、IEとEdge対応してないらしい。対策まだしてない。 */
    object-fit: contain;
}

.object-fit-img {
    object-fit: contain;
    font-family: 'object-fit: contain;'
}

.item a {
    color: #fff;
    font-weight: 500;
}

.item .button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #1aa81a;
    border: solid 2px #1aa81a;
    border-radius: 8px;
    transition: .4s;
}

.item .button:hover {
    background: #1aa81a;
    color: white;
}


.screenshot {
    display: inline-block;
    width: 100%;

}



/* 登録方法 */
.howtoadd {
    background-color: white;

    text-align: center;
    position: relative;
    top: 100px;

    padding: 5% 6%;
}

.howtoadd-item {
    display: flex;
}



/* 登録先 */
.howtoaccess {
    background-color: white;

    text-align: center;
    position: relative;
    top: 100px;
}

/* スマホ */
@media screen and (max-width: 641px) {
    .access {}
}

/* タブレット、PC */
@media screen and (min-width: 640px) {
    .access {
        display: flex;
        justify-content: space-around;
    }
}

.access .button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 8px;
    transition: .4s;
}

.access .button:hover {
    background: #67c5ff;
    color: white;
}




/* 動画 */
.movie {
    background-color: white;

    text-align: center;
    position: relative;
    top: 100px;

    padding: 5%;
}



/* 動画のサイズレスポンシブ */
.yt {
    width: 80vw;
    height: calc(80vw * 0.5625);
    /* 動画比率が16:9なので56.25%となります */
    max-width: 480px;
    max-height: 270px;
    margin: 0 auto 30px auto;
}

.yt iframe {
    width: 100%;
    height: 100%;
}





/* リンク集 */
.link {
    background-color: white;

    text-align: center;
    position: relative;
    top: 100px;

    padding: 5%;
}

.link ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 1%;
}

.link li {
    text-align: left;
    margin: 0 0 0 15px;
    font-size: 14px;
}


/* フッター */
footer {
    width: 100%;
    padding: 10px 4% 10px;
    background-color: #fff;
    /* 位置指定 */
    position: relative;
    top: 100px;
    /* flexbox */
    display: flex;
    align-items: center;
}

footer h1 {
    font-size: 12px;
}





/* =================================
ライセンス表示
Copyright 2020 suminabe
Released under the MIT license
https://github.com/suminabe/online1st/blob/master/LICENSE 
================================= */